.doctors-total-result {
    font-size: 1.375rem;
    color: var(--color-gray);
    margin-bottom: 3.125rem;
}

.product-list {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-gap: 2rem;
    list-style: none;
    text-align: center;
}

.product-info__image {
    margin: 0 auto 1rem;
}

.product-list__item {
    border: 1px solid var(--color-gray-40);
    padding: 1rem .5rem;
}

@media (--medium) {
    .product-list {
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }
}