.button {
    font-family: var(--font-family-primary);
	display: inline-block;
	appearance: none;
	padding: 0.35rem 0.65rem;
	font-size: 0.75rem;
	border: 1px solid;
	transition: background-color var(--anim-duration);

	&:enabled {
		&:hover {
			cursor: pointer;
		}
	}

	&:disabled {
		background: var(--color-gray);
		&:hover {
			background-color: var(--color-gray);
			cursor: not-allowed;
		}
	}
}

.button--primary {
	max-width: 11.4rem;
	width: 100%;
	color: var(--color-white);
	border-width: 0;
	padding: .757rem 1rem;
	font-size: 1.1rem;
	font-weight: 700;
	border-radius: 4px;
	background-color: var(--color-red);

	&:hover {
		background-color: var(--color-red-10);
	}
	&:active {
		background-color: var(--color-red);
	}
}